<section id="container">
  <h2>Contact List</h2>

  <div class="container-fluid">
    <div class="row" id="new-contact">
        <h3>Add a New Contact</h3>
            Name: <input type="text" name="name">
          <br>
            Email: <input type="text" name="email">
          <br>
            <button id="makeContacts">Add a Contact</button>
            <button id="searchContacts">Search Contact</button>
            <button id="getContacts">Get Contacts</button>
        </form>
    </div>
  </div>

  <section id="results" class="hide">
    <table id="contacts">
      <thead>
        <tr>
          <th>Contact Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </section>
</section>